<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DynamicConnectionString.Properties.Settings.NewDBConnectionString"
            connectionString="Data Source=xxxx\SQLEXPRESS;Initial Catalog=NewDB;User ID=sa;Password=dummy"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>